$font-regular: "Open Sans Regular", sans-serif;
$font-italic: "Open Sans Italic", sans-serif;
$font-SemiBold: "Open Sans SemiBold", sans-serif;
$font-Bold: "Open Sans Bold", sans-serif;

$black: #000000;
$white: #ffffff;
$dark-grey: #333333;
$grey: #666666;
$light-grey: #999999;
$dark-purple: #7943a4;
$purple: #9d5cd0;
$light-purple: #c283f3;
$very-light-purple: #d1a9f0;
